.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card {
    padding: 70px;
    border-radius: 15px;
    background: #e5f3f5;
  }

  .mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }