<mat-toolbar color="primary">

    <mat-toolbar-row>
       <a  mat-button  routerLink="/">Exit</a>
    </mat-toolbar-row>

  </mat-toolbar>

<mat-drawer-container class="container">

    <mat-drawer class="test" mode="side" opened>
        <mat-card>
            <img src="assets/img/ANKF.PNG">
        </mat-card>
        <p>
        <mat-card>
            <button mat-raised-button color="primary"  style=" padding: 0 35px;">Check it!</button>
        </mat-card>
        </p>

        <p>
         <mat-card>
            <span>Status</span>
        </mat-card>
        </p>

    </mat-drawer>

    <mat-drawer-content>

        <mat-toolbar style="background: #e0eaf7;">
            <mat-toolbar-row>
                <span>Cheking</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <form class="form">
            <mat-form-field style="margin-right: 50px;" class="example-full-width">
                <input matInput placeholder="Id num:" name="checkNum" [(ngModel)]="checkNum" (keypress)="keyPress($event)" required>
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field> 
            <button type="submit" mat-raised-button [disabled]="checkNum.length < 13">Submit</button>
        </form>
        
    </mat-drawer-content>

</mat-drawer-container>